@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}
html {
  overflow-x: hidden;
}

.vec {
  width: 500px;
  height: 500px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(0, 91, 236),
    rgb(0, 73, 190) 12%,
    rgb(0, 51, 133) 30%,
    rgb(0, 33, 85) 46%,
    rgb(0, 19, 48) 62%,
    rgb(0, 8, 22) 77%,
    #030b15 100%
  );
  opacity: 0.41;
}
.nav {
  z-index: 1000;
}
.btn:hover {
  @apply scale-110;
}
@layer base {
  .section {
    @apply pt-[80px]  sm:mr-[80px] sm:ml-[40px] md:mr-[130px] md:ml-[64px] lg:mr-[96px] lg:ml-[96px] xl:mr-[128px] xl:ml-[128px];
  }

  .btn {
    @apply bg-btnCol rounded-[10px] text-white text-[20px] font-semibold leading-[25px] hover:bg-[#4a90e2] transition-transform transition-colors duration-300 ease-in-out;
  }
}
.text-gradient-to-r {
  background: linear-gradient(to right, #22c55e, #3b82f6, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes arrow-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.svg-icon {
  animation: arrow-bounce 1.5s infinite;
}
